@model IEnumerable<ExamenNicIan.Models.Restaurant>
@{
    ViewBag.Title = "Map Search";

}

<!DOCTYPE html>
<html>
<head>
    <title>Map Search</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/css/maps.css" type="text/css" />
</head>
<div class="left-stripe"></div>
<div class="right-stripe"></div>
<body onload="GetMap()">
    <div id="mapContainer">
        <div id="myMap"></div>
        <div id="restaurantData">
            <!-- Display restaurant data here -->
        </div>
    </div>


    <script src="https://atlas.microsoft.com/sdk/javascript/mapcontrol/3/atlas.min.js"></script>
    <script src="~/js/map.js"></script>

</body>
</html>