@{
    ViewBag.Title = "Map Search";
}

<!DOCTYPE html>
<html>
<head>
    <title>Map Search</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/css/maps.css" type="text/css" />
</head>
<body onload="GetMap()">
<div id="myMap"></div>

<script src="https://atlas.microsoft.com/sdk/javascript/mapcontrol/3/atlas.min.js"></script>
<script src="~/js/map.js"></script>
</body>
</html>