@model IEnumerable<ExamenNicIan.Models.Restaurant>
@{
    ViewBag.Title = "Map Search";
    
}

  

<div class="left-stripe"></div>
<div class="right-stripe"></div>
<body onload="GetMap()">
<div id="mapContainer">
    <div id="myMap"></div>
<div id="MapCSS">
    <div id="restaurantData">
    </div>
</div>
    </div>
</body>
