@model Restaurant
@{
    ViewBag.Title = "Map Search";

}

<!DOCTYPE html>
<html>
<head>
    <title>Map Search</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/css/maps.css" type="text/css" />
</head>
<div class="left-stripe"></div>
<div class="right-stripe"></div>
<body onload="GetMap()">
    <div id="mapContainer">
        <div id="myMap"></div>
        <div id="restaurantData">
            <!-- Display restaurant data here -->
            <div class="restaurant-list">
                @if (Model != null)
                {
                    @foreach (var restaurant in Model.elements)
                    {
                        <div class="restaurant-item">
                            <h2>@restaurant.tags.name</h2>
                            <p>@restaurant.tags.description</p>
                        </div>
                    }
                }
            </div> 
        </div>
    </div>


    <script src="https://atlas.microsoft.com/sdk/javascript/mapcontrol/3/atlas.min.js"></script>
    <script src="~/js/map.js"></script>

</body>
</html>