@model ExamenNicIan.Models.MapModel

<!DOCTYPE html>
<html>
<head>
    <title>Map Search</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://atlas.microsoft.com/sdk/javascript/mapcontrol/3/atlas.min.css" type="text/css" />
    <link rel="stylesheet" type="text/css" href="~/css/maps.css"> <!-- Add your custom CSS file -->
    <script src="https://atlas.microsoft.com/sdk/javascript/mapcontrol/3/atlas.min.js"></script>
    <script src="https://atlas.microsoft.com/sdk/javascript/service/2/atlas-service.min.js"></script> 

</head>
<body onload="GetMap()">
<div class="search-container">
    <input type="text" id="searchInput" placeholder="Search.." name="search">
    <button onclick="search()">Search</button>
</div>
<div id="@Model.MapId"></div>

 <!-- Add Azure Maps JavaScript -->
<script src="~/js/map.js"></script> <!-- Add your custom JavaScript file -->
</body>
</html>>
