@model Restaurant
<div class="left-stripe"></div>
<div class="right-stripe"></div>
<div id="restaurantData" class="search-page">
    @if (Model != null && Model.elements != null)
    {
        @foreach (var element in Model.elements)
        {
            <partial name="RestaurantsPartialCards" model="element" />
        }
    }
    else
    {
        <h1 class="page-title">No favorites yet!</h1>
    }
</div>