@model ExamenNicIan.Models.Restaurant

<!DOCTYPE html>
<html>
<head>
    <title>Map Search</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/css/maps.css" type="text/css" />
</head>
<div class="left-stripe"></div>
<div class="right-stripe"></div>
<div id="restaurantData" class="search-page">
    @if (Model != null && Model.elements != null)
    {
        @foreach (var element in Model.elements)
        {
            <partial name="RestaurantsPartialCards" model="element" />
        }
    }
    else
    {
        <p>Geen data</p>
    }
</div>