@model User

@{
    ViewBag.Title = "Edit account";
}

<h1>@ViewBag.Title</h1>
<form asp-action="Edit"method="post">
    <input type="hidden" asp-for="UserId" />
    <partial name="RegisterEditPartial" model="Model"/>

    <button type="submit" class="btn btn-primary">Save</button>
</form>