html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

#mapContainer {
    display: flex;
    height: 80vh; 
}

#myMap {
    flex: 2;
    border: 5px solid #d60000;
    overflow: hidden; 
}

#MapCSS {
    flex: 1 !important;
    overflow-y: auto !important;
    padding: 20px !important;
    border-left: 1px solid #ccc !important;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.atlas-map svg image:hover {
    cursor: pointer !important;
}
