@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <style>
        .search-container {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 50px;
        }

        .search-input {
            padding: 10px;
            border: 2px solid #ccc;
            border-radius: 5px;
            width: 300px;
            margin-right: 10px;
            font-size: 16px;
        }

        .search-button {
            padding: 10px 20px;
            background-color: #ff6347; /* Tomato color */
            border: none;
            border-radius: 50%; /* Makes the button round */
            cursor: pointer;
            width: 30px;
            height: 30px;
            font-size: 0;
        }

        /* Stijlen voor de zijstroken */
        .left-stripe, .right-stripe {
            width: 200px;
            height: 100%;
            position: fixed;
            top: 0;
            z-index: -1;
        }

        .left-stripe {
            left: 0;
            background-color: orange; /* Oranje kleur */
        }

        .right-stripe {
            right: 0;
            background-color: orange; 

        
        }

        .logo-container {
            display: flex;
            justify-content: center;
            align-items: center;
        }

         .logo-container img 
            {
                max-width: 100%; 
                height: auto;
            }
    </style>
</head>
<body>
<div class="left-stripe"></div>
<div class="right-stripe"></div>

<div class="logo-container">
    <img src="Resources/logo.png" alt="Logo"> 
</div>
</body>

<!-- Zoekbalk en knop -->
<div class="search-container">
    <input type="text" class="search-input" placeholder="Search...">
    <button class="search-button">Search</button>
</div>

    
</html>
