@{
    ViewData["Title"] = "Home Page";
}


<div class="left-stripe"></div>
<div class="right-stripe"></div>

<div class="logo-container">
    <img src="Resources/logo.png" alt="Logo"> 
</div>
<!-- Zoekbalk en knop -->
<div class="search-container">
    <form id="searchForm" asp-controller="Restaurants" asp-action="Search" method="post">
        <div class="search-container">
            <input type="text" class="search-input" name="query" id="query" placeholder="Search...">
            <button type="submit" class="search-button">Search</button>
        </div>
    </form>
</div>

<div class="introduction stylish-p-text">
    <p>Welcome to Food-ix, the place to be when you are hungry!</p>
    <p>Just type in the area code of your choice and find new spots to eat.</p>
    <p>You can add food-locations you like to your favorites to easier access them later.</p>
    <p>So start browsing and fix that craving!</p>
</div>

